<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="openSettings()" fill="clear" color="white">
        <ion-icon  name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">

  <ng-container *ngFor="let item$ of albums$;">
  <ion-row class="ion-no-padding" *ngIf="item$ | async; let album" >
    <ion-col size="9">
      <h2 class="section-header">Albums</h2>
    </ion-col>

    <!-- Horizontal scroll view -->
    <ion-slides [options]="opts" >
      <ion-slide *ngFor="let data of album.albums;" routerLink="/albums" (click)="load(data)">
        <img *ngIf="data.images[0].url.length > 0" [src]="data.images[0].url" [height]="data.images[0].height" [width]="data.images[0].width">
        <span class="title">{{ data.name }}</span>
      </ion-slide>
    </ion-slides>
  </ion-row>
</ng-container>

  <ng-container *ngFor="let item$ of artists$;">
    <ion-row class="ion-no-padding" *ngIf="item$ | async; let artist" >
      <ion-col size="9">
        <h2 class="section-header">Artists</h2>
      </ion-col>

     <ion-slides [options]="opts">
        <ion-slide *ngFor="let data of artist.artists">
          <img *ngIf="data.images[0].url.length > 0" [src]="data.images[0].url" [height]="data.images[0].height" [width]="data.images[0].width">
          <span class="title">{{ data.name }}</span>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ng-container>
  <ng-container *ngFor="let item$ of releases$;">
    <ion-row class="ion-no-padding" *ngIf="item$ | async; let releases" >
      <ion-col size="9">
        <h2 class="section-header">New Releases</h2>
      </ion-col>

      <ion-slides [options]="opts">
        <ion-slide *ngFor="let data of releases.albums.items">
          <img *ngIf="data.images[0].url.length > 0" [src]="data.images[0].url" [height]="data.images[0].height" [width]="data.images[0].width">
          <span class="title">{{ data.name }}</span>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ng-container>



</ion-content>
